.heart {
  display: flex;
  position: absolute;
  right: 15px;
  top: 15px;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  @media screen and (max-width: 600px) {
    display: none;
  }
  &.active {
    .heart__svg {
      path {
        &.inner_heart, &.outer_heart {
          fill: $primary-color;
        }

      }
    }
  }

  &__count {
    color: white;
    font-size: 25px;
    padding-right: 10px;
  }
  &__svg {
    width: 40px;
    height: 40px;
    transition: .1s all ease-out;
    path {
      fill: white;
      &.inner_heart {
        fill: transparent;
      }
    }
  }

  &:hover {
    .heart__svg {
      transform: scale(1.1);
      .inner_heart {
        fill: white;
      }
    }
  }

}