header {
  padding-top: 30px;
  h1 {
    font-family: Roboto, sans-serif;
    font-weight: 900;
    font-style: italic;
    text-align: center;
    color: #111;
    font-size: 50px;
    letter-spacing: -1px;
    margin-bottom: 10px;
    @media screen and (max-width: 600px) {
      margin-top: 10px;
    }
  }
  h2 {
    text-align: center;
    .highlight {
      background-color: #00FF00;
      display: inline-block;
    }
    margin-bottom: 30px;
  }
  .logo {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    height: 300px;
  }

  @media screen and (max-width: 600px) {
    padding-top: 30px;
    h1 {
      font-size: 30px;
      margin-bottom: 0;
    }
    h2 {
      font-size: 20px;
      margin-top: 10px;
    }
  }


}