.instagram-media {
  margin-top: 50px;
  width: 60%;
  margin-left: auto;
  margin-right: auto;

  @media screen and (max-width: 600px) {
    margin-top: 30px;
    width: 100%;
  }
  &__img {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    display: block;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 0;
    margin-bottom: 20px;
    -webkit-box-shadow: 10px 10px 120px -33px rgba(0,0,0,0.3);
    -moz-box-shadow: 10px 10px 120px -33px rgba(0,0,0,0.3);
    box-shadow: 10px 10px 120px -33px rgba(0,0,0,0.3);
    transition: transform .2s ease;
    background: #f1f1f1;
    &-wrap {
      width: 100%;
      padding-top: 110%;
      position: relative;
    }
    //cursor: pointer;
    //&:hover {
    //  transform: scale(1.01);
    //  transition: transform .2s ease;
    //}

    //&:before {
    //  content: " ";
    //  display: block;
    //
    //  position: absolute;
    //  top: -10px;
    //  left: 0;
    //  height: calc(100% + 10px);
    //  width: 100%;
    //  background-color: rgb(230, 230, 230);
    //  border: 2px dotted rgb(200, 200, 200);
    //  border-radius: 5px;
    //}
    //
    //&:after {
    //  content: "\f127" " Broken Image of " attr(alt);
    //  display: block;
    //  font-size: 16px;
    //  font-style: normal;
    //  font-family: FontAwesome;
    //  color: rgb(100, 100, 100);
    //
    //  position: absolute;
    //  top: 5px;
    //  left: 0;
    //  width: 100%;
    //  text-align: center;
    //}
  }
  &__credit {
    text-align: center;
    //padding-top: 7px;
  }

  &__name {
    font-weight: 900;
    font-size: 25px;
    text-align: center;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    letter-spacing: 1px;
  }

  &__footer {
    padding-top: 25px;

  }

 & + form {
    text-align: center;
    margin-top: 40px;
  }
}