.shortcuts {
  &__button {
    font-family: 'Roboto', sans-serif;
    background: $primary-color;
    position: fixed;
    bottom: 25px;
    right: 25px;
    display: inline-block;
    text-transform: uppercase;
    padding:10px;
    border-radius: 50%;
    background: $primary-color;
    color: black;
    width: 65px;
    height: 65px;
    box-shadow:
            //0 3px 5px -1px rgba(0,0,0,.08),
            //0 6px 10px 0 rgba(0,0,0,.1),
            0 1px 18px 0 rgba(0,0,0,.12);
    svg {
      position: relative;
      top: 2px;
      width: 30px;
      height: 30px;
      fill: white;
      margin: 6px;
    }

  }
}