<div class="instagram-media fade-in three zoom">
  <div class="instagram-media__img-wrap">
    <img class='instagram-media__img' src='{{ src }}' width='1080' height='1080' (error)="updateUrl($event)"/>
  </div>

  <div class="instagram-media__footer">
    <!--<div class="instagram-media__name">-->
      <!--ALEXIS REN-->
    <!--</div>-->
    <div class="instagram-media__credit">
      Credit: @<a target="_blank" href='{{ this.InstaJSON.author_url }}'>{{ this.InstaJSON.author_name }}</a>
    </div>
  </div>
  <div class="instagram-media__heart heart noselect" (click)="updateCount()" [ngClass]="{ 'active' : heartActive }">
    <span class="heart__count">{{ heartCount }}</span>
    <svg class="heart__svg" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 95.1 84.6" style="enable-background:new 0 0 95.1 84.6;" xml:space="preserve">
	<path class="outer_heart"  d="M47.5,84.6c-0.9,0-1.7-0.3-2.3-0.9L8.1,46.4c0,0,0,0-0.1-0.1C-2.7,35.7-2.7,18.5,8,7.9c10.6-10.5,27.9-10.5,38.5,0L47.5,9
		c0.6-0.6,1.2-1.2,1.2-1.2C59.2-2.6,76.6-2.6,87.2,7.9l0,0l0,0c10.5,10.5,10.6,27.7,0.2,38.3c0,0.1-0.1,0.1-0.1,0.2L49.8,83.7
		C49.2,84.3,48.5,84.6,47.5,84.6z M12.6,41.8l35,35l34.9-34.9l0.1-0.1c8.1-8.1,8.1-21.3,0-29.3l0,0c-8.1-8.1-21.3-8.1-29.3,0
		c-0.1,0.1-3.4,3.4-3.4,3.4c-0.6,0.6-1.4,0.9-2.3,0.9l0,0c-0.9,0-1.7-0.3-2.3-0.9l-3.4-3.4c-8.1-8.1-21.3-8.1-29.3,0
		c-3.9,3.9-6.1,9.1-6.1,14.7C6.5,32.7,8.6,37.9,12.6,41.8L12.6,41.8L12.6,41.8z"/>
	<path class="inner_heart" d="M10.8,41.8l36.7,36.7l36.6-36.6l0.1-0.1c8.5-8.5,8.5-22.4,0-30.8l0,0c-8.5-8.5-22.4-8.5-30.8,0c-0.1,0.1-3.6,3.6-3.6,3.6
		c-0.6,0.6-1.5,0.9-2.4,0.9l0,0c-0.9,0-1.8-0.3-2.4-0.9L41.6,11c-8.5-8.5-22.4-8.5-30.8,0c-4.1,4.1-6.4,9.6-6.4,15.4
		C4.4,32.2,6.6,37.7,10.8,41.8L10.8,41.8L10.8,41.8z"/>
</svg>
  </div>
</div>

<!--<form class="example-form">-->
  <!--<mat-form-field class="example-full-width">-->
    <!--<input matInput placeholder="Instagram ID" [(ngModel)]="this.InstaID" (change)="getInstagramContent($event)" [ngModelOptions]="{standalone: true}">-->
  <!--</mat-form-field>-->
<!--</form>-->
