<div class="login">
  <div class="container">
    <form action="">
        <mat-form-field class="login__email">
          <input matInput placeholder="Email" type="email">
        </mat-form-field>
        <mat-form-field class="login__password">
          <input matInput placeholder="Password" type="password">
        </mat-form-field>
        <button mat-raised-button color="primary">Sign In</button>
    </form>
  </div>
</div>
