$nav-button-color: #00838F;



$primary-color: #00ff00;


$dust-storm: #E0C8BF; /* complementary color */
$neptune: #80BEBE; /* dark primary color */

$black: rgb(10,10,10);
$white: rgb(254,254,254);





$cubic-transition-1: cubic-bezier(.165,.84,.44,1),transform .6s cubic-bezier(.165,.84,.44,1),-webkit-transform .6s cubic-bezier(.165,.84,.44,1);