<div class="shortcuts">
  <div class="shortcuts__button">
      <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 100 100" style="enable-background:new 0 0 100 100;" xml:space="preserve">
        <path d="M80,60H70V40h10c11,0,20-9,20-20S91,0,80,0C69,0,60,9,60,20v10H40V20C40,9,31,0,20,0S0,9,0,20s9,20,20,20h10v20H20
            C9,60,0,69,0,80s9,20,20,20s20-9,20-20V70h20v10c0,11,9,20,20,20c11,0,20-9,20-20S91,60,80,60z M70,20c0-5.5,4.5-10,10-10
            s10,4.5,10,10s-4.5,10-10,10H70V20z M20,30c-5.5,0-10-4.5-10-10s4.5-10,10-10s10,4.5,10,10v10H20z M30,80c0,5.5-4.5,10-10,10
            s-10-4.5-10-10c0-5.5,4.5-10,10-10h10V80z M40,60V40h20v20H40z M80,90c-5.5,0-10-4.5-10-10V70h10c5.5,0,10,4.5,10,10
            C90,85.5,85.5,90,80,90z"/>
      </svg>
  </div>
</div>