<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!--<title><%= htmlWebpackPlugin.options.title %></title>-->
  <title>GIRL OF THE DAY</title>
  <meta name="description" content="<%= htmlWebpackPlugin.options.metadata.description %>">
  <!-- base url -->
  <base href="<%= htmlWebpackPlugin.options.metadata.baseUrl %>">

  <!-- inline spinner styles to be able to display spinner right away -->
  <style type="text/css">
    .mat-progress-spinner {
      display: block;
      width: 100px;
      height: 100px;
      position: absolute;
      left: 50%;
      top: 50%;
      margin-left: -50px;
      margin-top: -50px;
    }
    .mat-progress-spinner svg {
      position: absolute;
      transform: rotate(-90deg);
      top: 0;
      left: 0;
      transform-origin: center;
      overflow: visible;
    }
    .mat-progress-spinner circle, .mat-spinner circle {
      stroke: #00FF00 !important;
    }


    .mat-progress-spinner circle {
      fill: transparent;
      transform-origin: center;
      transition: stroke-dashoffset 225ms linear;
    }

    .mat-progress-spinner.mat-progress-spinner-indeterminate-animation {
      animation: mat-progress-spinner-linear-rotate 2s linear infinite;
    }

    .mat-progress-spinner.mat-progress-spinner-indeterminate-animation circle {
      transition-property: stroke;
      animation-duration: 4s;
      animation-timing-function: cubic-bezier(.35,0,.25,1);
      animation-iteration-count: infinite;
    }


    @keyframes mat-progress-spinner-linear-rotate {
      0% {
      transform: rotate(0);
      }
      100% {
      transform: rotate(360deg);
      }
    }

    @keyframes mat-progress-spinner-stroke-rotate-100 {
      0% {
        stroke-dashoffset: 268.60617px;
        transform: rotate(0);
      }
      12.5% {
        stroke-dashoffset: 56.54867px;
        transform: rotate(0);
      }
      12.5001% {
        stroke-dashoffset: 56.54867px;
        transform: rotateX(180deg) rotate(72.5deg);
      }
      25% {
        stroke-dashoffset: 268.60617px;
        transform: rotateX(180deg) rotate(72.5deg);
      }
      25.0001% {
        stroke-dashoffset: 268.60617px;
        transform: rotate(270deg);
      }
      37.5% {
        stroke-dashoffset: 56.54867px;
        transform: rotate(270deg);
      }
      37.5001% {
        stroke-dashoffset: 56.54867px;
        transform: rotateX(180deg) rotate(161.5deg);
      }
      50% {
        stroke-dashoffset: 268.60617px;
        transform: rotateX(180deg) rotate(161.5deg);
      }
      50.0001% {
        stroke-dashoffset: 268.60617px;
        transform: rotate(180deg);
      }
      62.5% {
        stroke-dashoffset: 56.54867px;
        transform: rotate(180deg);
      }
      62.5001% {
        stroke-dashoffset: 56.54867px;
        transform: rotateX(180deg) rotate(251.5deg);
      }
      75% {
        stroke-dashoffset: 268.60617px;
        transform: rotateX(180deg) rotate(251.5deg);
      }
      75.0001% {
        stroke-dashoffset: 268.60617px;
        transform: rotate(90deg);
      }
      87.5% {
        stroke-dashoffset: 56.54867px;
        transform: rotate(90deg);
      }
      87.5001% {
        stroke-dashoffset: 56.54867px;
        transform: rotateX(180deg) rotate(341.5deg);
      }
      100% {
        stroke-dashoffset: 268.60617px;
        transform: rotateX(180deg) rotate(341.5deg);
      }
    }
    </style>
  <% if (webpackConfig.htmlElements.headTags) { %>
  <!-- Configured Head Tags  -->
  <%= webpackConfig.htmlElements.headTags %>
  <% } %>

  <%= htmlWebpackPlugin.files.webpackManifest %>

  <% if (htmlWebpackPlugin.options.metadata.isDevServer && htmlWebpackPlugin.options.metadata.HMR !== true) { %>
  <!-- Webpack Dev Server reload -->
  <script src="/webpack-dev-server.js"></script>
  <% } %>

  <!-- Async Google Tag Manager: change gtmKey value inside config.prod.conf to your to be your site's ID-->
  <% if (htmlWebpackPlugin.options.gtmKey) { %>
  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','<%= htmlWebpackPlugin.options.gtmKey %>');</script>
  <!-- End Google Tag Manager -->
  <% } %>
  <!-- End Google Analytics -->

  <!-- CSS will be injected by webpack here -->
  <!-- Preload link tags will be injected by webpack here -->

</head>

<body>
<% if (htmlWebpackPlugin.options.gtmKey) { %>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=<%= htmlWebpackPlugin.options.gtmKey %>"
                  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<% } %>




  <app> <!-- selector from app.component.ts -->
    <!-- loading layout replaced by app after startupp -->
    <div class="app-loading">
      <div class="mat-spinner mat-progress-spinner mat-primary mat-progress-spinner-indeterminate-animation">
        <svg focusable="false" preserveAspectRatio="xMidYMid meet" viewBox="0 0 100 100" style="width: 100px; height: 100px;"><!----><circle cx="50%" cy="50%" r="45" class="ng-star-inserted" stroke="#00FF00" style="animation-name: mat-progress-spinner-stroke-rotate-100; stroke-dasharray: 282.743px; stroke-width: 10%;"></circle><!----></svg>
      </div>
    </div>
  </app>




  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-125052450-1"></script>
  <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-125052450-1');
  </script>

  <!-- Scripts will be injected by webpack here -->
</body>
</html>
