
<div class="container">
  <header>
    <h1 class="fade-in one fromTop">GIRL OF THE DAY</h1>
    <!--<img src="assets/img/logo.svg" alt="" class="logo">-->
    <h2 class="fade-in two fromTop">
      <span class="highlight">{{ getDate() }}</span>
    </h2>
  </header>

  <main>
    <app-instagram-media></app-instagram-media>
    <!-- BnKXiy3BnVp -->
    <!--<app-shortcuts></app-shortcuts>-->
  </main>
</div>

<footer>
</footer>
