@import url('https://fonts.googleapis.com/css?family=Roboto:700,700i,900,900i');
@import url('https://fonts.googleapis.com/css?family=Ubuntu+Mono');



html, body {
  height: 100%;
  box-sizing: border-box;
}

body {
  margin: 0;
  background: $white;
  color: $black;
  font-family: 'Ubuntu Mono', monospace;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.container {
  width: 100%;
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
  padding-right: 20px;
  padding-left: 20px;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

app {
  border-top: 7px solid #00FF00;
  display: block;
}

a {
  color: #00FF00;
  &::selection {
    color:black; /* WebKit/Blink Browsers */

  }
  &::-moz-selection {
    color:black; /* Gecko Browsers */

  }
}

p {
  font-family: 'Lora', serif;
  font-size: 20px;
  line-height: 30px;
  padding-bottom: 40px;
}

::selection {
  background:#00FF00; /* WebKit/Blink Browsers */

}
::-moz-selection {
  background:#00FF00; /* Gecko Browsers */

}

footer {
  background: #F1F2F2;
}


@-webkit-keyframes fadeInFromTop { from { opacity:0; top:-10px; } to { opacity:1; top: 0;} }
@-moz-keyframes fadeInFromTop { from { opacity:0; top:-10px; } to { opacity:1; top: 0;} }
@keyframes fadeInFromTop { from { opacity:0; top:-10px; } to { opacity:1; top: 0;} }

@-webkit-keyframes fadeInZoom {
  0% {
    opacity: 0;
    transform: scale(.95)
  }
  50% {
    transform: scale(1.01)
  }
  100% {
    opacity: 1;
    transform: scale(1)
  }
}
@-moz-keyframes fadeInZoom {
  0% {
  opacity: 0;
  transform: scale(.95)
}
  50% {
    transform: scale(1.01)
  }
  100% {
    opacity: 1;
    transform: scale(1)
  }
}
@keyframes fadeInZoom {
  0% {
  opacity: 0;
  transform: scale(.95)
}
  50% {
    transform: scale(1.01)
  }
  100% {
    opacity: 1;
    transform: scale(1)
  }
}

.fade-in {
  opacity:0;  /* make things invisible upon start */



  position: relative;

  &.fromTop {
    -webkit-animation:fadeInFromTop ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
    -moz-animation:fadeInFromTop ease-in 1;
    animation:fadeInFromTop ease-in 1;

    -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
    -moz-animation-fill-mode:forwards;
    animation-fill-mode:forwards;

    -webkit-animation-duration:.2s;
    -moz-animation-duration:.2s;
    animation-duration:.2s;
  }

  &.zoom {
    -webkit-animation:fadeInZoom ease-out 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
    -moz-animation:fadeInZoom ease-out 1;
    animation:fadeInZoom ease-out 1;

    -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
    -moz-animation-fill-mode:forwards;
    animation-fill-mode:forwards;

    -webkit-animation-duration:.5s;
    -moz-animation-duration:.5s;
    animation-duration:.5s;
  }

  &.one {
    -webkit-animation-delay: 0.4s;
    -moz-animation-delay: 0.4s;
    animation-delay: 0.4s;
  }

  &.two {
    -webkit-animation-delay: .6s;
    -moz-animation-delay:.6s;
    animation-delay: .6s;
  }

  &.three {
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    animation-delay: 1s;
  }



}

